.containerknowledges {
   margin-top: 20vh;

}

.firstSeason {
   display: flex;
   justify-content: space-around;
}

.titleSkill {
   width: 47vw;
   padding-bottom: 20px;
   font-family: 'Ibarra Real Nova';
   font-weight: 700;
   font-size: 40px;
   color: #33323D;
   border-bottom: 1px solid #33323dd0;
}

.leftSide {
   width: 50vw;
   border-right: 3px solid #33323dd0;
}

.leftSide p {
   width: 48vw;
   text-align: justify;
   font-weight: 400;
   margin-top: 10px;
   padding: 20px 25px 20px 10px;
   font-family: 'Public Sans';
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #33323D;
}

.nameSkill {
   width: 20vw;
   text-align: justify;
   font-weight: 700;
   padding: 0px 25px 20px 25px;
   font-family: 'Public Sans';
   font-size: 20px;
   line-height: 30px;
   color: #33323D;
   justify-self: center;
}

.nameSkills {
   width: 10vw;
   text-align: justify;
   font-weight: 700;
   padding: 0px 25px 20px 25px;
   font-family: 'Public Sans';
   font-size: 25px;
   line-height: 30px;
   color: #33323D;
   justify-self: center;
}

.hardSkills {
   width: 45vw;
   display: flex;
   flex-direction: column;
   padding-top: 20px;
}

.boxSkill {
   display: flex;
   justify-content: space-between;
}

.languages {
   width: 45vw;
}

.boxLevel {
   width: 30vw;
   height: 8px;
   border-radius: 50px;
   border: 1px solid blue;
}

.boxLevelSkills {
   width: 38vw;
   height: 8px;
   border-radius: 50px;
   border: 1px solid blue;
}

.sizeLevel {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding-top: 5px;
}

.sizeLevel span {
   font-family: 'Public Sans';
   font-size: 1rem;
   line-height: 30px;
   color: #33323D;
}

.levelbar1 {
   width: 70%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.levelbar2 {
   width: 70%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.levelbar3 {
   width: 50%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.levelbar4 {
   width: 40%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.levelbar5 {
   width: 55%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.levelbar6 {
   width: 55%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.levelbar7 {
   width: 25%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.boxlanguage {
   width: 48vw;
   height: 35vh;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 50px;
   margin-bottom: 10px 20px 20px 25px;
   display: flex;
   border-bottom: 1px solid #33323dd0;
}

.last {
   width: 48vw;
   height: 35vh;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 50px;
   margin-bottom: 10px 20px 20px 25px;
   display: flex;
}

.containerLevel {
   width: 35vw;
   height: 20vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.nametitle {
   margin: 25px 0 5px 0;
   font-family: 'Public Sans';
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   color: #33323D;
}

.speakbar1 {
   width: 70%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.listenbar1 {
   width: 80%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.writebar1 {
   width: 70%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.speakbar2 {
   width: 40%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.listenbar2 {
   width: 80%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;

}

.writebar2 {
   width: 20%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.speakbar3 {
   width: 100%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.listenbar3 {
   width: 100%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.writebar3 {
   width: 100%;
   height: 6px;
   background-color: blue;
   border-radius: 50px;
}

.softSkills {
   width: 100vw;
   border-top: 3px solid #33323dd0;
   display: flex;
}

.softSkills {
   font-weight: 400;
   margin-top: 10px;
   padding: 20px 25px 20px 10px;
   font-family: 'Public Sans';
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #33323D;
}

.courses {
   width: 100vw;
   border-top: 3px solid #33323dd0;
}

.courses p {
   width: 100vw;
   margin-bottom: 30px;
   text-align: center;
   font-family: 'Public Sans';
   font-weight: 700;
   font-size: 30px;
   line-height: 30px;
   color: #33323D;
}

.courses ul {
   width: 50vw;
   margin-bottom: 10px;
}

.courses {
   font-weight: 400;
   margin-top: 10px;
   padding: 20px 25px 20px 10px;
   font-family: 'Public Sans';
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #33323D;
}

.softSkills p {
   width: 90vw;
   text-align: justify;
   font-weight: 400;
   margin-top: 10px;
   padding: 20px 25px 20px 10px;
   font-family: 'Public Sans';
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #33323D;
}

.list {
   width: 45vw;
   height: 60vh;
   display: flex;
   flex-direction: column;
   align-self: center;
   padding: 0 20px 0 20px;
   justify-content: space-evenly;
}

.list p {
   width: 100vw;
   margin-bottom: 30px;
   text-align: center;
   font-family: 'Public Sans';
   font-weight: 700;
   font-size: 30px;
   line-height: 30px;
   color: #33323D;
}

.coursesList {
   display: flex;
}

.imgcourses {
   width: 45vw;
}

.skillsList {
   width: 70vw;
   display: flex;
   margin-left: 15vw;
}

.boxCertified {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.certified {
   all: unset;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   cursor: pointer;
   border: 1px solid #33323d;
   width: 148px;
   height: 48px;
   text-align: center;

   font-family: 'Public Sans';
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.certified:hover {
   background-color: #33323D;
   color: #fff;
}

.levelKnow {
   animation: image-animation 20s ;
   position: relative;
}

@keyframes image-animation {
   from {
      right: 0%;
   }

   to {
      right: 100%
   }
}