  .Home {
    background-image: url('../../images_all/home/planodeFundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    width:100vw;
  }

  
  
