.nav {
  background-color: rgba(20, 20, 20, 0.959);
  box-shadow: -5px 12px rgba(32, 32, 32, 0.356);
  width: 100vw;

  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-link {
  list-style: none;

  width: 45%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;

}

.menu-link {
  all: unset;
  font-family: 'Ibarra Real Nova';
  font-weight: 700;
  font-size: 1.4rem;
  color: rgba(226, 231, 230, 0.769);
  cursor: pointer;
}

.menu-link:hover{
  color: rgba(202, 185, 32, 0.769);
  font-weight: 700;
  font-size: 1.6rem;
}

.menu-link active{
  color: rgba(54, 177, 23, 0.769);
}
   
  .logo {
    height: 14vh;
    display: flex;
    align-items: center;
  }