.nav {
  background-color: rgba(20, 20, 20, 0.959);
  box-shadow: -5px 12px rgba(32, 32, 32, 0.356);
  width: 100vw;

  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-link {
  list-style: none;

  width: 45%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;

}

.menu-link {
  all: unset;
  font-family: 'Ibarra Real Nova';
  font-weight: 700;
  font-size: 1.4rem;
  color: #e2e7e6c4;
  cursor: pointer;
}

.menu-link:hover {
  color: #949797c4;
  font-weight: 700;
  font-size: 1.6rem;
}

.logo {
  height: 14vh;
  display: flex;
  align-items: center;
}
