footer {
  width: 100vw;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.849);

  color: #FFF;
  font-size: 1.5rem;
  text-align: center;
  font-family: fira code;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.logoFooter {
    width: 10vw;
  }

div h2{
  margin-right: 2rem;
  text-align: end;
  font-family: 'Ibarra Real Nova';
  font-weight: 600;
  font-size: 1.5rem;
  color: #e2e7e6c4;
}