.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  width: 100vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.329);
  position: relative;
  overflow: hidden;
}

.image{
  animation: image-animation 20s infinite linear;
  position: relative;
}
@keyframes image-animation {
  from {
    right: -100vw;
  }
  to {
    right: 100%
  }
}

.html {
  width: 12vw;
  height: 15vh;
}

.css {
  width: 12vw;
  height: 15vh;
}

.js {
  width: 12vw;
  height: 15vh;
}

.node {
  width: 18vw;
  height: 13vh;
}

.react {
  width: 15vw;
  height: 15vh;
  margin-left: 100px;
}

.sql {
  width: 7vw;
  height: 14vh;
}