.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  
    width: 100vw;
    height: 20vh;

    background-color: rgba(0, 0, 0, 0.329);
  }
  
  .icons .html {
    width: 12vw;
    height: 15vh;
  }
  
  .icons .css {
    width: 12vw;
    height: 15vh;
  }
  
  .icons .js {
    width: 12vw;
    height: 15vh;
  }
  
  .icons .node {
    width: 18vw;
    height: 13vh;
  }
  
  .icons .react {
    width: 15vw;
    height: 15vh;
    margin-right: 30px;
    margin-left: 20px;
  }
  
  .icons .sql {
    width: 7vw;
    height: 14vh;
  }