*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro_face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.capa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.face-photo {
  width: 21vw;
  height: 50vh;
  border-radius: 50%;
  margin-top: 5em;
  margin-bottom: 2em;
}

.wellcome {
  color: #b0aab4;
  font-family: fira code;
  font-size: 2.5em;
  line-height: 1.4em;
  text-align: center;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.tag{
  color: #c90064;
  font-family: fira code;
  font-size: 1em;
  line-height: 1.4em;
  width: max-content;
  margin: 0;
}

.lt-start{
  color:rgba(226, 231, 230, 0.769);
}
.lt-end{
  color:rgba(226, 231, 230, 0.769);
}

.typing-animation {
  animation: blinkCursor 800ms steps(20) infinite normal, typing 4s steps(20) 1s normal both;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 18em;
  }
}

@keyframes blinkCursor {
  from {
      border-right-color: rgb(255, 255, 255);
  }
  to {
      border-right-color: transparent;
  }
}

.main {
  background-color: #f2f2f2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.presents {
  padding: 0px 30px 20px 30px;
  margin-top: 15px;
  font-family: 'Ibarra Real Nova';
  font-weight: 700;
  font-size: 40px;
  color: #00ff87;
  text-align: center;
}

.me {
  text-align: justify;
  font-weight: 400;
  /* color: rgba(226, 231, 230, 0.769); */
  padding: 0px 25px 20px 25px;
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #33323D;
}

.presents-2 {
  color: #00ff27;
  text-align: center;
  font-family: indie Flower;
  font-size: 2em;
}